* {
  margin: 0;
  padding: 0;
}

h4 {
  color: whitesmoke;
}
.container {
  width: 600px !important ;
  border: 1px solid lightblue;
  border-radius: 50px;
  margin-top: 40px;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: darkslateblue;
}

input {
  height: 40px;
  text-align: center;
  border-color: none;
}

ul li {
  width: 400px;
}

/* *********************************** */
.fa-solid {
  float: right;
  border: none;
  background: none;
}
